{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>HOME Page</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
          <p>At the smallest br emcsk  dx j cjmx mx  nmdxn   mmj  xm mmd  eakpoint, the collapse plugin isenjsdncsnnfcsmmwscnmcn dwnkkn wqwxkm wdxmxjnkj axn xamnas nxjnx  m xsnjn xa   used to hide the links and show a menu button to toggle the collapsed content.</p>
          <p>Making flask app for fun all my id are give in dropdown</p>
          <p>
            <a class="btn btn-primary" href="/posts" role="button">Go to blog post &raquo;</a>
          </p>
        </div>
      </div>
    </div>
</div>
{% endblock %}